body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow-y: scroll;
}

h1{
    font-family: "Nunito";
    font-size: 44px;
    font-weight: bolder;
}

h2{
    font-family: "Nunito";
    font-size: 32px;
    font-weight: bold;
}
p{
    font-family: "Nunito";
    font-size: 20px;
}

#header {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
    height: 90px;
}

#home-button{
    font-family: "Nunito";
    font-size: 32px;
    font-weight: bold;
    background-color: white;
    border: none;
}

#header-buttons{
    display: flex;
    column-gap: 20px;
}

.header-button{
    font-family: "Nunito";
    font-size: 18px;
    background-color: white;
    border: none;
}

.header-button:hover{
    font-family: "Nunito";
    font-size: 22px;
    font-weight:bolder;
    text-decoration: underline;
}

#intro{
    background-color: #D1EBEE;
    height: 60vh;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#home-pic{
    height: 90%;
}

.home-section{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project-buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.project-button {
    background-color: white;
    width: 30%;
    height: 200px;
}
